[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/jaypei/oh-my-zsh.git
[submodule "emacsconf/emacs.d/site-lisp/neotree"]
	path = emacsconf/emacs.d/site-lisp/neotree
	url = git@github.com:jaypei/emacs-neotree.git
