*.elc
bookmarks
eshell/*
auto-save-list
ac-comphist.dat
url/*
.python-environments/*
session.*
.yas-compiled-snippets.el
elpa/archives/gnu/archive-contents
elpa/archives/marmalade/archive-contents
elpa/archives/melpa/archive-contents
elpa/*.txt
.mc-lists.el